body {
    position: absolute;
    display: block;
    background-color: #FFCACC;
    width: 100%;
    height: 100%;
}
#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#wrapper2{

}
.note {
    width: 25%;
    height: auto;
}
.message {
    margin-left: 14%;
    margin-top: 2%;
}
.suggest {
    margin-top: 0%;
    margin-left: 33%;
    margin-right: 33%;
}
.click {
    position: relative;
    max-width: 80%;
    max-height: auto;
}
.about,
.projects,
.contact,
.resume {
    position: relative;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.butn {
    position: relative;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: none;
}
.butn:active {
    position: relative;
    top: 2px;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    left: 2px;
}
.butn2 {
    display: none;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.butn2:active {
    position: relative;
    top: 2px;
    left: 2px;
}
.butn4 {
    display: none;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.butn4:active {
    position: relative;
    top: 2px;
    left: 2px;
}
.butn6 {
    display: none;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.butn6:active {
    position: relative;
    top: 2px;
    left: 2px;
}
.butn7 {
    display: none;
    webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}
.butn7:active {
    position: relative;
    top: 2px;
    left: 2px;
}


.about-page {
    display: none;
    width: 100%;
    height: 580px;
    border-radius:22px;
    background-color: white;
}
.projects-page {
    display: none;
     width: 100%;
    height: 580px;
    border-radius:22px;
    background-color: white;
   
}
.resume-page {
    display: none;
     width: 100%;
    height: 950px;
    border-radius:22px;
    background-color: white;
}
.contact-page {
    display: none;
}
.screen {
    position: relative;
    align-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}
.me {
    position: absolute;
    width: 36%;
    height: auto;
    top: 45px;
    left: 40px;
}
p1 {
    position: absolute;
    top: 50px;
    font-family: "noteworthy";
    font-size: 20px;
    margin-left: 45%;
    margin-right: 10%;
}
h1 {
    position: absolute;
    top: 478px;
    font-size: 16px;
    margin-left: 60px;
    margin-right: 480px;
    font-family: "noteworthy";
}
#projectlist {
    
    position: absolute;
    top: 4.5%;
}
a {
    color: inherit;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.frog,
.uncle,
.santa,
.poker,
.gaga,
.rote,
.moult,
.jonny {
    width: 97%;
    margin-bottom: 8px;
    cursor: pointer;
}
.row.buffer {
    margin-bottom: 25px;
    margin-left: 5%;
    margin-right: 5%;
}
.category {
    color: #632f7a;
    font-size: 18px;
    font-family: "noteworthy";
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.descriptor {
    font-size: 16px;
    font-family: "noteworthy";
    text-align: center;
}
p2 {
    position: absolute;
    top: 4.5%;
    margin-left: 10%;
    margin-right: 40%;
    font-family: "noteworthy";
    font-size: 18px;
}
.resume-header {
    color: #1b4556;
    font-size: 20px;
    font-family: "noteworthy";
    font-weight: bold;
}

@media(max-width: 1060px)and(min-width:768px) {
    .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
    .about,
    .projects,
    .contact,
    .resume {
        position: relative;
        max-width: 150px;
        height: auto;
        cursor: pointer;
    }
    .screen {
    position: relative;
    align-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}
    #projectscreen {
      
    }
    #projectlist {
        align-content: center;
    }
    p2 {
        position: absolute;
        top: 4.5%;
        margin-left: 10%;
        margin-right: 60%;
        font-family: "noteworthy";
        font-size: 18px;
    }
    .me {
        
    }
    p1 {
        position: absolute;
        top: 50px;
        font-family: "noteworthy";
        font-size: 20px;
        margin-left: 45%;
        margin-right: 20%;
    }
    h1 {
        display: none;
    }
    .col-xs-3{
   
    }
    .col-sm-3{
    width:;
    }
    .about-page {
    display: none;
    width: 100%;
    height: 580px;
    border-radius:22px;
    background-color: white;
}
.projects-page {
    display: none;
     width: 100%;
    height: 580px;
    border-radius:22px;
    background-color: white;
   
}
.resume-page {
    display: none;
     width: 100%;
    height: 950px;
    border-radius:22px;
    background-color: white;
}
}
@media(max-width: 767px){
    .no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
    .about,
    .projects,
    .contact,
    .resume {
        position: relative;
        max-width: 150px;
        height: auto;
        cursor: pointer;
    }
    .screen {
    position: relative;
    align-content: center;
    text-align: center;
    width: 100%;
    height: auto;
}
    #projectscreen {
display:none;
    }
 
    #projectlist {
     
        align-content: center;
      
    }
   
    p2 {
        position: absolute;
        top: 4.5%;
        margin-left: 10%;
        margin-right: 60%;
        font-family: "noteworthy";
        font-size: 18px;
    }
    .me {
       display:none; 
    }
    p1 {
        position: absolute;
        top: 50px;
        font-family: "noteworthy";
        font-size: 20px;
        margin-left: 5%;
        margin-right: 60%;
    }
    h1 {
        display: none;
    }
    .col-xs-3{
   
    }
    #resumescreen{
     position: relative;
    align-content: center;
    text-align: center;
    width: 100%;
    height: 1300px;
    }
    .about-page {
    display: none;
    width: 60%;
    height: 580px;
    border-radius:22px;
    background-color: white;
}
.projects-page {
    display: none;
     width: 45%;
    height: 3100px;
    border-radius:22px;
    background-color: white;
   
}
.resume-page {
    display: none;
     width: 100%;
    height: 950px;
    border-radius:22px;
    background-color: white;
}


}
#feedback-page {
    text-align: center;
}
#form-main {
    width: 100%;
    float: left;
    padding-top: 0px;
}
#form-div {
    background-color: rgba(72, 72, 72, 0.4);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 35px;
    padding-bottom: 50px;
    width: 450px;
    float: left;
    left: 50%;
    position: absolute;
    margin-top: 30px;
    margin-left: -260px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.feedback-input {
    color: #3c3c3c;
    font-family: 'noteworthy', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0, 0, 0, 0);
}
.feedback-input:focus {
    background: #fff;
    box-shadow: 0;
    border: 3px solid #396c32;
    color: #396c32;
    outline: none;
    padding: 13px 13px 13px 54px;
}
.focused {
    color: #0f7e00;
    border: #0f7e00 solid 3px;
}

/* Icons ---------------------------------- */

#name {
    background-image: url(images/nameicon.png);
    background-size: 25px 35px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
#name:focus {
    background-image: url(images/nameicon.png);
    background-size: 25px 35px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
#email {
    background-image: url(images/mailicon.png);
    background-size: 30px 25px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
#email:focus {
    background-image: url(images/mailicon.png);
    background-size: 30px 25px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
#comment {
    background-image: url(images/penicon.png);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}
textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}
#button-blue {
    font-family: 'noteworthy', Arial, Helvetica, sans-serif;
    float: left;
    width: 100%;
    border: #fbfbfb solid 4px;
    cursor: pointer;
    background-color: #0f7e00;
    color: white;
    font-size: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
}
#button-blue:hover {
    background-color: rgba(0, 0, 0, 0);
    color: #0f7e00;
}
.submit:hover {
    color: #0f7e00;
}
.ease {
    width: 100%;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -o-transition: .3s ease;
    -ms-transition: .3s ease;
    transition: .3s ease;
}
.submit:hover .ease {
    width: 100%;
    background-color: white;
}
